body{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  text-align: center;
  background-color: #161616;
  color: rgb(221, 221, 221);
}

.content-bg {
  --border-size: 4px;
  --border-angle: 0turn;
  max-width: 400px;
  padding: 30px;
  min-height: 300px;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(transparent 0.1%, rgb(10, 102, 63), rgba(132, 27, 48, 0.667));
    background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center;
  background-repeat: no-repeat;

}

.headline{
  font-size: 35px;
}

.group{
 background-color: #335;
 border-radius: 15px;  
}

.input {
  background: none;
  border: 0;
  color: white;
  padding: 10px;
}
input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

select {
  background: none;
  border: 0;
  color: white;
  width:70px;
}

.description{
  font-size: 15px;
  color: rgba(234, 233, 233, 0.96);
}
